<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <style>
            <%- data.code.CSS %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.CSS %>
            <% } %>

        </style>       
    </head>
    <body>
       
        <div id="_appRoot">
            <%- data.code.HTML %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.HTML %>
            <% } %>
        </div>

        <% if(data.framework === 'Handlebars') { %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <% } else { %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
        <% } %>
          
        <script>
            <%- data.code.JS %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.JS %>
            <% } %>

            <% for (var k in data.services) { %>
                <%- data.services[k].code.JS %>
            <% } %>

        </script>

        <% if(data.framework === 'AngularJS') { %>
            <%- include('devtools'); %>
        <% }  %>
        
    
        
    </body>
</html>