<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <style>
            <%- data.code.CSS %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.CSS %>
            <% } %>

        </style>       
    </head>
    <body>
       
        <div id="_appRoot">
            <%- data.code.HTML %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.HTML %>
            <% } %>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
        
        <script>
            <%- data.code.JS %>

            <% for (var k in data.components) { %>
                <%- data.components[k].code.JS %>
            <% } %>

        </script>
        

        <%- include('devtools'); %>

        
    </body>
</html>